<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hqq.core">

    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION"
        android:maxSdkVersion="22" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application>
        <provider
            android:name="com.hqq.core.CoreProvider"
            android:authorities="${applicationId}.core.provider"
            android:multiprocess="true" />
    </application>
</manifest>
