<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hqq.core" >

    <application>
        <activity
            android:name="com.hqq.core.permission.AppSettingsDialogHolderActivity"
            android:exported="false"
            android:label=""
            android:theme="@style/EasyPermissions.Transparent"/>
    </application>


</manifest>
