<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hqq.example">
    <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 用于获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /> <!-- 用于访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 用于写入缓存数据到扩展存储卡 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 用于申请调用A-GPS模块 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />

    <application
        android:name=".APP"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".ui.jetpack.hilt.HiltActivity"
            android:label="hilt 测试" />
        <activity
            android:name=".demo.DemoIndexActivity"
            android:label="Demo首页" />
        <activity
            android:name=".demo.joke.JokeActivity"
            android:label="笑话大全" />
        <activity
            android:name=".demo.news.NewsActivity"
            android:label="新闻列表" />
        <activity
            android:name=".demo.weather.WeatherActivity"
            android:label="聚合天气" />
        <activity
            android:name=".demo.FragmentTestActivity"
            android:label="Fragment 测试" />
        <activity
            android:name=".demo.login.LoginActivity"
            android:label="模拟登陆" />
        <activity
            android:name=".ui.jetpack.package1.VmTestActivity"
            android:label="ViewModel 测试" />
        <activity android:name=".ui.jetpack.dagger.DaggerActivity" />
        <activity
            android:name=".ui.matrix.MatrixActivity"
            android:label="矩阵相关" />
        <activity
            android:name=".ui.view.InflateTestActivity"
            android:label="Inflate对比" />
        <activity
            android:name=".ui.jetpack.package1.MvvmTestActivity"
            android:label="jetpack套餐搭建mvvm" />
        <activity
            android:name=".ui.jetpack.viewbinding.ViewBindingActivity"
            android:label="viewBinding测试" />
        <activity
            android:name=".ui.jetpack.viewmodel.ViewModelActivity"
            android:label="ViewModel例子" />
        <activity
            android:name=".ui.jetpack.databinding.DataBindingActivity"
            android:label="dataBinding测试" />
        <activity
            android:name=".ui.customize.SemicircularActivity"
            android:label="环形进度条" />
        <activity
            android:name=".ui.image.ImageViewRectangle2Activity"
            android:label="scaleType 测试" />
        <activity
            android:name=".ui.image.ImageViewRectangleActivity"
            android:label="图片 scaleType 测试" />
        <activity
            android:name=".ui.toast.ToastActivity"
            android:label="自定义Toast测试" />
        <activity android:name=".ui.customize.CurtainActivity" />
        <activity
            android:name=".ui.color.HSLActivity"
            android:label="HSL颜色值计算" />
        <activity
            android:name=".ui.view.SvgActivity"
            android:label="svg 测试" />
        <activity
            android:name=".ui.skin.SkinCActivity"
            android:label="换肤界面C" />
        <activity
            android:name=".ui.skin.SkinBActivity"
            android:label="换肤界面B" />
        <activity
            android:name=".ui.skin.SkinAActivity"
            android:label="换肤界面A" />
        <activity
            android:name=".ui.system.AppIconActivity"
            android:label="设置App图标" />
        <activity
            android:name=".ui.view.BlackAndWhiteActivity"
            android:label="黑白化" />
        <activity
            android:name=".ui.view.TextViewActivity"
            android:label="TextView 测试" />
        <activity
            android:name=".ui.animate.ViewAnimateActivity"
            android:label="隐藏动画" />
        <activity
            android:name=".ui.animate.AnimateIndexActivity"
            android:label="View动画" />
        <activity
            android:name=".ui.customize.TemplatesImageActivity"
            android:label="图片模板 空" />
        <activity
            android:name=".ui.image.ImageViewSquareActivity"
            android:label="图片测试" />
        <activity
            android:name=".ui.view.EditTextActivity"
            android:label="EditText测试" />
        <activity
            android:name=".ui.recycle.EmptyListActivity"
            android:label="EmptyList" />
        <activity
            android:name=".ui.ShapeTestActivity"
            android:label="shape测试" />
        <activity
            android:name=".ui.info.FilePathActivity"
            android:label="文件路径测试" />
        <activity
            android:name=".ui.customize.WidgetActivity"
            android:label="小部件测试" />
        <activity
            android:name=".ui.transitions.animation.TransitionsAnimationActivity"
            android:label="转场动画" />
        <activity
            android:name=".ui.launch.mode.SingleTaskActivity"
            android:label="栈内"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.launch.mode.SingleTopActivity"
            android:label="栈顶"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.launch.mode.SingleInstanceActivity"
            android:label="栈顶"
            android:launchMode="singleInstance" />
        <activity
            android:name=".ui.launch.mode.LaunchModeDActivity"
            android:label="界面4" />
        <activity
            android:name=".ui.launch.mode.LaunchModeCActivity"
            android:label="界面3" />
        <activity
            android:name=".ui.launch.mode.LaunchModeBActivity"
            android:label="界面2" />
        <activity
            android:name=".ui.launch.mode.LaunchModeAActivity"
            android:label="界面1" />
        <activity
            android:name=".ui.jetpack.livedata.LiveDateActivity"
            android:label="liveDate测试" />
        <activity
            android:name=".ui.web.WebActivity"
            android:label="网页测试" />
        <activity android:name=".ui.customize.FishActivity" />
        <activity
            android:name=".ui.info.BaseInfoActivity"
            android:label="设备信息" />
        <activity
            android:name=".ui.adaptation.LayoutTestActivity"
            android:label="空" />
        <activity
            android:name=".ui.customize.ProgressBarViewBuilderActivity"
            android:label="进度条测试" />
        <activity
            android:name=".ui.recycle.GallerySnapActivity"
            android:label="画廊横向效果" />
        <activity
            android:name=".ui.recycle.RecycleIndexActivity"
            android:label="RecycleView 相关" />
        <activity
            android:name=".ui.recycle.FullPagerSnapActivity"
            android:label="Recycle多个item 分页" />
        <activity
            android:name=".ui.tab.layout.TabLayoutActivity"
            android:label="tabLayout  测试" />
        <activity
            android:name=".ui.soft.hide.keyboard.SoftHideKeyBoardScrollActivity"
            android:label="键盘滑动" />
        <activity
            android:name=".ui.soft.hide.keyboard.SoftHidKeyboardIndexActivity"
            android:label="键盘测试" />
        <activity
            android:name=".ui.soft.hide.keyboard.SoftHideKeyBoardActivity"
            android:label="键盘隐藏" />
        <activity
            android:name=".ui.bar.ToolBarActivity"
            android:label="标题/状态栏设置" />
        <activity android:name=".ui.view.page.IFragmentActivityBuilder" />
        <activity
            android:name=".ui.list.LoadMoreActivity"
            android:label="加载数据" />
        <activity
            android:name=".ui.adaptation.DefActivity"
            android:label="默认Activity" />
        <activity
            android:name=".ui.list.ListActivity"
            android:label="列表数据" />
        <activity android:name=".ui.bar.SearchBarActivity" />
        <activity
            android:name=".ui.recycle.BannerActivity"
            android:label="轮播图测试" />
        <activity
            android:name=".ui.adaptation.DefImgActivity"
            android:label="默认图显示" />
        <activity
            android:name=".ui.adaptation.PermissionActivity"
            android:label="权限测试" />
        <activity
            android:name=".ui.dialog.BottomSheetActivity"
            android:label="知乎评论列表" />
        <activity
            android:name=".ui.screen.TextViewBuilderSizeActivity"
            android:label="文字大小" />
        <activity
            android:name=".ui.screen.DimenActivity"
            android:label="1像素大小测试" />
        <activity
            android:name=".ui.exception.ThrowActivity"
            android:label="Throw异常测试" />
        <activity
            android:name=".ui.bar.SettingToolBarActivity"
            android:label="ToolBar 设置" />
        <activity
            android:name=".ui.dialog.TestDialogActivity"
            android:label="dialog 测试" />
        <activity
            android:name=".ui.customize.BezierActivity"
            android:label="贝塞尔曲线" />
        <activity
            android:name=".ui.adaptation.AdaptationIndexActivity"
            android:label="适配相关" />
        <activity
            android:name=".ui.dialog.DialogIndexActivity"
            android:label="dialog 系列" />
        <activity
            android:name=".ui.list.ListIndexActivity"
            android:label="列表加载" />
        <activity
            android:name=".ui.customize.CustomizeIndexActivity"
            android:label="自定义View" />
        <activity
            android:name=".ui.customize.SwipeMenuLayoutActivity"
            android:label="View 的拖动" />
        <activity
            android:name=".ui.customize.RoundCountdownActivity"
            android:label="圆形倒计时" />
        <activity
            android:name=".ui.MainActivity"
            android:label="功能主页">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name=".RoundActivity"
            android:enabled="false"
            android:icon="@drawable/dlzs"
            android:label="功能主页"
            android:targetActivity=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <service android:name="com.amap.api.location.APSService" />

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="42b4f553aa37838bc95de449f8ff8116" />
    </application>

</manifest>